<header>
  <ul>
    <a href="home">
      <li>
        Начало
      </li>
    </a>
    <a href="programming-jokes/">
      <li>
        Шеги за програмисти
      </li>
    </a>
    <a href="dark-jokes/">
      <li>
        Черни шеги
      </li>
    </a>
    <a href="pun-jokes/">
      <li>
        Игра на думи
      </li>
    </a>
  </ul>
</header>
<div class= "content">  
  <router-outlet></router-outlet>
</div>
<footer>
  <div>
    <p>
      Шегите са с цел забавление а не обида!!!
    </p>
  </div>
</footer>