<div>    
  <h1>Добре дошли в Шеговитата!</h1>
  <h2>Вашият ежедневен източник на смях и добро настроение</h2>
  <h3>В Шеговитата ще намерите:</h3>
  <ul>
    <li>
        Най-добрите вицове: Нашата колекция от вицове е внимателно подбрана, за да ви разсмее всеки ден. Разгледайте категории като "Класически вицове", "Кратки и смешни", "Вицове за деца" и много други.
    </li>
    <li>
        Смешни картинки и мемета: Няма нищо по-добро от една добра мема, за да ви развесели. Насладете се на нашата богата галерия със забавни изображения и мемета, които можете да споделите с приятели.
    </li>
    <li>
        Видеоклипове, които ще ви разсмеят до сълзи: Гледайте най-смешните видеоклипове от интернет. От гафове до смешни домашни видеа, ние гарантираме, че ще се забавлявате.
    </li>    
  </ul>
  <h3>Защо да изберете Шеговитата?</h3>
  <ul>
    <li>
        Актуални и свежи шеги: Нашият екип постоянно обновява съдържанието, за да ви предложи най-новите и забавни шеги.
    </li>
    <li>
        Лесна навигация: Сайтът е лесен за използване, с удобни категории и търсачка, за да намерите точно това, което търсите. 
    </li>
    <li>
        Общност от забавни хора: Присъединете се към нашата общност и споделете своите собствени вицове и смешни моменти. Вземете участие в нашите форуми и обсъждайте всичко, което ви разсмива
    </li>
  </ul>
</div>